.nilai {
	height: auto;
	width: auto;

	margin: auto;
	-webkit-box-shadow: 0px 0px 10px #555555;
	-moz-box-shadow:0px 0px 10px #555555;
	box-shadow:0px 0px 10px #555555;
}

.tiangle_left {
	width: 0;
	height: 0;
	float: right;
	margin-top: -70px;
	margin-top: -70px solid transparent;
	border-right: 200px solid #70a1ff;
	border-bottom: 70px solid transparent;
}

.triangle_down {
	width: 0%;
	height: 0%;
	border-top:70px solid #70a1ff;
	border-left: 0px solid transparent;
	border-right: 200px solid transparent;
} 
.triangle_down1 {
	width: 0%;
	height: 0%;
	border-bottom:70px solid #70a1ff;
	border-left: 0px solid transparent;
	border-right: 350px solid transparent;

}




.font1 {
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 25px;
	color: #3498db;
	margin: auto;

}
.font2 {
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 25px;
	color: #3498db;

}


 
table {
  font-family: "MS Serif", "New York", sans-serif;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  border: #ccc 1px solid;
  margin: auto;

  

}
 
table th {
  padding: 15px 35px;
  border-left:1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #a4b0be;
}
 
table th:first-child{  
  border-left:none; 
padding-left: 10px;  
}
 
table tr {
  text-align: center;
  padding-left: 20px;
}
 
table td:first-child {
  text-align: left;
  padding-left: 10px;
  border-left: 0;
}
 
table td {
  padding: 10px 70px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
  text-align: left;
  
}
 
table tr:last-child td {
  border-bottom: 0;
    
}
 
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
 
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

 
.table_zebra {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
}
.table_zebra tr th{
    background: #9b59b6;
    color: #9b59b6;
    font-weight: normal;
}

.table_zebra, th, td {
    padding: 8px 20px;
    text-align: center;
}
.table_zebra tr:hover {
    background-color:#9b59b6;
}
.table_zebra tr:nth-child(even) {
    background-color:#9b59b6;
}
 
