.sertifikat {
	height: auto;
	width: auto;
	margin: auto;
	-webkit-box-shadow: 0px 0px 10px #555555;
	-moz-box-shadow:0px 0px 10px #555555;
	box-shadow:0px 0px 10px #555555;
	background-attachment: fixed;
	
	

}
.tiangle_left {
	width: 0;
	height: 0;
	float: right;
	margin-top: -70px;
	margin-top: -70px solid transparent;
	border-right: 200px solid #70a1ff;
	border-bottom: 70px solid transparent;
}

.triangle_down {
	width: 0%;
	height: 0%;
	border-top:70px solid #70a1ff;
	border-left: 0px solid transparent;
	border-right: 200px solid transparent;
} 
.triangle_down1 {
	width: 0%;
	height: 0%;
	border-bottom:70px solid #70a1ff;
	border-left: 0px solid transparent;
	border-right: 370px solid transparent;

} 
 

.logo {

	background: url("http://localhost/sertifikat/stf/IMG/jg.JPG");
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center;

}



.font {
	font-family: "Bookman Old Style", serif;
	text-align: center;
	font-size: 35px;
	
	color: #3498db;
	
}
.fontt {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 20px;
	line height: 5.0;
	

}
.nama {
	font-family: "Bookman Old Style", serif;
	text-align: center;
	font-size: 30px;
	color:#1abc9c;

}
.jurusan {
	font-family: System, sans-serif;
	text-align: center;
	font-size: 20px;
	line-height:0.0;
	margin-top: -15px;
	
}
.ft {
	font-family: "MS Serif", "New York", sans-serif;
	text-align: center;
	font-size: 20px;
	line-height: 5.0;
	
	
}

.fnt {
	font-family: "MS Serif", "New York", sans-serif;
	text-align: center;
	font-size: 20px;
	margin-top: -40px;

}
 
.office {
	font-family: "Courier New", Courier, monospace;
	margin-top: -30px;
	line height: 5.0;
}

.yogya {
	font-family: "Courier New", Courier, monospace;
	line-height: 5.0;
}

.ttd {
	font-family: "Courier New", Courier, monospace;
	line-height:125px;
}


.font1 {
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 25px;
	line-height: 5.0;
	
}


 


 

 
